/* Custom Fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Libre+Baskerville');

/* Custom Variables and Functions*/

//@import 'variables';
$title-size: 4rem;
$section-padding: 2rem 1.5rem;
$section-padding-desktop: 2rem 2rem;

/* Uncomment to import the entire Bulma framework */

@import '~bulma/bulma';

/* Import selected Bulma Sass */

.shadowed {
    box-shadow: 0 0 20px 3px $primary;
}


/* Remove these if you import the entire Bulma framework above */


/*@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/components/card.sass";*/